.menu {
    display: inline-block;
    background: silver;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 10px;
    width: 100%;
    height: 60px;
}

.videos {
    display: inline-block;
    background-color: none;
    vertical-align: top;
}

.tab {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    height: 1000px;
    width: 90px;
}

.loginBtn {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;

    padding-top: 10px;
    text-align: center;
    

    position: absolute;
    width: 120px;
    height: 50px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    /* border: 1px solid rgba(0, 0, 0, 0.52); */
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

}

.loginBtn img {
    height: 25px;
}


.search {
    display: inline;
}

.search input[type=search] {
    height: 50px;
    width: 75%;
}

.search button {
    margin-left: -4px;
    height: 50px;
    border-radius: 10px;
}

.suggestion {
    top: 75%;
    margin: 10px 10px 10px 10px;
    margin-left: 0%;
    padding: 7px 7px 7px 7px;
    position: absolute;
    justify-content: end;
    display: flexbox;
    background-color: rgb(255, 255, 255);
    border: black solid 1px;
}

.suggestion h1 {
    font-size: large;
    color: rgb(0, 0, 0);
}

.suggestion p {
    font-size: medium;
    color: rgb(116, 116, 116);
}

.suggestion a {
    font-size: 40px;
    margin-left: 90%;
    color: rgb(0, 0, 0);
    text-decoration: none;
}





.video{
    display: inline-block;
    margin-left: 30px;
}
.thumbnail {
    display: block;
    /* Idk something to cover when its too big */
    object-fit: contain;
    width: 350px;
    height: 196px;
    border-radius: 20px;
}

.ytIcon {
    display: inline;
    height: 35px;
}

p {
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




.login input[type="login"] {
    /* Rectangle 1 */
    width: 250px;
    position: relative;
    background: none;
    border-radius: 91px;
}

.login input[type="password"] {
    /* Rectangle 1 */
    width: 250px;
    position: relative;
    background: none;
    border-radius: 91px;

}

.login input[type="email"] {

    /* Rectangle 1 */
    display: block;
    position: relative;
    width: 515px;
    background: none;
    border-radius: 91px;

}

.login input[type="submit"] {
    /* Rectangle 1 */

    position: relative;
    height: 40px;
    background: none;
    border-radius: 91px;

}