.menu {
    display: inline-block;
    background: rgb(231, 231, 231);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   
    padding-top: 5px;
    padding-left: 10px;
    width: 100%;
    height: 60px;
}
.youtubeicon{
    display: inline-block;
}
.loginBtn {

    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;

    padding-top: 10px;
    text-align: center;

    position: absolute;
    width: 120px;
    height: 50px;

    background: #ffffff;
    mix-blend-mode: normal;
    /* border: 1px solid rgba(0, 0, 0, 0.52); */
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
    transition: 0.5s;
}

.loginBtn:hover{
    border-radius: 20px;
    background: silver;
}

.loginBtn img {
    height: 25px;
}

.search {
    display: inline;
}

.search input[type=search] {
    height: 50px;
    width: 75%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.5;
}

.search-btn{
    transition: 0.5s;
}

.search-btn:hover{
    background-color: silver;
}


.search button {
    margin-left: -4px;
    height: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #FFFFFF;
}

p {
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home{
    display: grid;
    grid-template-columns: 1fr 14fr;
}
.home-tab{
    background-color: silver;
    display: block;
}
.home-tab-button{
    width: 100%;
    height: 10%;
}
.channels-tab-button{
    width: 100%;
    height: 10%;
}

/* Home grid */
.videos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.thumbnail{
    background-color: rgb(187, 187, 187);
    height: 250px;
    border-radius: 10px;
}
.thumbnail img{ 
    background-size: contain;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.channel-img img{
    border-radius: 20px;
}
.title{
    display:grid;
    grid-template-columns: 50px 1fr;
}
.title img{
    height: 50px;
    width: 50px;
}

.views,.time{
    font-family: "Roboto", sans-serif;
    font-size: small;
}